{% extends 'shared/_MainLayout.html' %}
{% load static %}

{% block content %}
    <body>
    <div class="background">
        <div class="shape"></div>
        <div class="shape"></div>
    </div>
    <form action="{% url 'user-login' %}" method="post">

        <h3>صندوق خانگی سادات</h3>

        <label for="username">نام کاربری </label>
        <input type="text" placeholder="نام کاربری خود را وارد نمائید" id="username">

        <label for="password">کلمه عبور</label>
        <input type="password" placeholder="کلمه عبور را وارد نمائید" id="password">

        <button>ورود</button>
    </form>
    </body>
{% endblock %}