{% extends 'shared/_MainLayout.html' %}
{% load static %}

{% block content %}
    <body class="hold-transition login-page">
    <div class="login-box">
        <div class="login-logo">
           <b>ورود به سایت</b>
        </div>
        <!-- /.login-logo -->
        <div class="login-box-body">
            <p class="login-box-msg">فرم زیر را تکمیل کنید و ورود بزنید</p>
            <form action="{% url 'user-login' %}" method="post">
                {% csrf_token %}
                <div class="form-group has-feedback">
                    {{ form.phone_number }}
                    <span class="glyphicon glyphicon-phone form-control-feedback"></span>
                </div>
                <div class="form-group has-feedback">
                    {{ form.password }}
                    <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                </div>
                <div class="row">
                    <!-- /.col -->
                    <div class="col-xs-12">
                        <button type="submit" class="btn btn-primary btn-block btn-flat">ورود</button>
                    </div>
                    <!-- /.col -->
                </div>
            </form>
            <div class="social-auth-links text-center">
                <a href="#">رمز عبورم را فراموش کرده ام.</a><br>
                <a href="{% url 'user-register' %}" class="text-center">ثبت نام</a>
            </div>
            <!-- /.social-auth-links -->
        </div>
        <!-- /.login-box-body -->
    </div>
    <!-- /.login-box -->
    </body>
{% endblock %}