{% extends './shared/_MainLayout.html' %}
{% load static %}


{% block content %}
    <body class="hold-transition register-page">
    <div class="register-box">
        <div class="register-logo">
            <b>ثبت نام در سایت</b>
        </div>

        <div class="register-box-body">
            <p class="login-box-msg">ثبت نام کاربر جدید</p>

            <form action="{% url 'user-register' %}" method="post">
                {% csrf_token %}
                <div class="form-group has-feedback">
                    {{ form.phone_number }}
                    <span class="glyphicon glyphicon-user form-control-feedback"></span>
                </div>
                <div class="form-group has-feedback">
                    {{ form.first_name }}
                    <span class="glyphicon glyphicon-phone form-control-feedback"></span>
                </div>
                <div class="form-group has-feedback">
                    {{ form.last_name }}
                    <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                </div>
                <div class="form-group has-feedback">
                    {{ form.password }}
                    <span class="glyphicon glyphicon-log-in form-control-feedback"></span>
                </div>
                <div class="form-group has-feedback">
                    {{ form.confirm_password }}
                    <span class="glyphicon glyphicon-log-in form-control-feedback"></span>
                </div>
                <div class="row">
                    <!-- /.col -->
                    <div class="col-xs-12">
                        <button type="submit" class="btn btn-primary btn-block btn-flat">ثبت نام</button>
                    </div>
                    <!-- /.col -->
                </div>
            </form>
            <div class="social-auth-links text-center">
                <a href="{% url 'user-login' %}" class="text-center">من قبلا ثبت نام کرده ام</a>
            </div>
        </div>
        <!-- /.form-box -->
    </div>
    <!-- /.register-box -->
    </body>
{% endblock %}